<div class="main-div">
    <div>
        <h1>CV</h1>
        <div class="element" style="display: flex; justify-content: center">
            <img
                src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg"
            />
        </div>
        <div class="element">
            <label>Name: </label>
            <p>Vladyslav</p>
        </div>
        <div class="element">
            <label>Surname: </label>
            <p>Karlinskyi</p>
        </div>
        <div class="element">
            <label>Age: </label>
            <p>20</p>
        </div>
        <div class="element">
            <label>Number: </label>
            <p>+380000000000</p>
        </div>
        <div class="element">
            <label>Email: </label>
            <p>test1test.com</p>
        </div>
        <div class="element">
            <label>City: </label>
            <p>Odesa</p>
        </div>
        <div class="element">
            <label>Work experience:</label>
        </div>
        <div class="element">
            <label>Skills:</label>
            <app-skills></app-skills>
        </div>
        <div class="element">
            <label>Links:</label>
            <app-links></app-links>
        </div>
    </div>
</div>
