<div class="main-link">
    <a href="{{ childInput?.link }}">
        <div class="image">
            <img
                src="{{ childInput?.imagePath }}"
                alt="{{ childInput?.name }}"
            />
        </div>
        <h3>{{ childInput?.name }}</h3>
    </a>
    <div class="sub-links">
        @for (item of childInput?.subcategories; track $index) {
        <div class="sub-link">
            <a href="{{ item?.link }}">
                <h5>{{ item?.name }}</h5>
            </a>
        </div>
        }
    </div>
</div>
